.app-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.app-nav {
    background-color: var(--background-color);
}

