@media screen {
    .contact-wrapper {
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .contact-container {
        width: 100%;
        height: 100%;
        display: flex;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column-reverse;
        background-color: var(--background-dark-light);
        box-shadow: inset 0 0 0 2000px rgba(26, 29, 44, 0.95);
    }
    
    .contact-p1 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }
    
    .contact-holder {
        gap: 10px;
        width: 100%;
        display: flex;
        padding: 10px;
        flex-direction: column;
    
    }
    
    .contact-holder span {
        font-size: 1rem;
        color: var(--secondary-color);
    }
    
    .contact-title {
        display: flex;
        padding: 10px 0;
        flex-direction: column;
    
    }
    .contact-title h2 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    
    .contact-title span {
        font-size: .9rem;
        color: var(--background-light);
    }
    
    .contact-p2 {
        display: none;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    
    }
    
    .contact-f {
        gap: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .input-wrapper {
        gap: 20px;
        display: flex;
    }
    
    .contact-input, .contact-msg {
        width: 100%;
        opacity: 50%;
        border: none;
        outline: none;
        display: flex;
        font-size: .9rem;
        border-radius: 5px;
        color: var(--primary-color);
        background-color: var(--background-light);
        
    }

    
    .contact-input, .contact-msg  {
        padding: 10px 20px;
    }
    
    input::placeholder {
        font-size: .8rem;
        color: var(--primary-color);
    
    }
    
}
/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
    .contact-wrapper {
        height: 100%;
    }
    
    .contact-container {
        width: 80%;
        height: 70%;
        flex-direction: row;
    }
    
    .contact-p1 {
        flex: 70%;
  
    }
    
    .contact-holder {
        gap: 20px;
        width: 60%;
        padding: 0;
    
    }
    


    .contact-title h2 {
        font-size: 1.8rem;
    }
    
    .contact-title span {
        font-size: 1rem;
    }
    
    .contact-p2 {
        flex: 30%;
        display: flex;
    
    }
    
    .contact-f {
        gap: 10px;
        width: 100%;
    
    }
    
    input::placeholder {
        font-size: .9rem;
    
    }
    
}
