.logo-container {
    gap: 10px;
    padding: 2px;
    display: flex;
    width: fit-content;
    background-color: var(--primary-color);
}

.logo-c {
    color: var(--background-color);
    font-weight: bold;
    padding: 2px;

}

.logo-m {
    padding: 2px;
    color: var(--primary-color);
    background-color: var(--background-color);
}