

@font-face {
    font-family: 'hunter_riverregular';
    src: url('/fonts/hunterriver-regular-webfont.woff2') format('woff2'),
         url('/fonts/hunterriver-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cococondensed';
    src: url('/fonts/coco-condensed-webfont.woff2') format('woff2'),
         url('/fonts/coco-condensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cocoregular';
    src: url('/fonts/coco-regular-webfont.woff2') format('woff2'),
         url('/fonts/coco-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cocobold';
    src: url('/fonts/coco-bold-webfont.woff2') format('woff2'),
         url('/fonts/coco-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoblack';
    src: url('/fonts/roboto-black-webfont.woff2') format('woff2'),
         url('/fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotolight';
    src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotomedium';
    src: url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

